@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fcf0d7;
  --foreground: #343f60;
  --accent: #2b097a;
  --muted: #c8c3d6;
  --border: #127745;
}

html[data-theme="dark"] {
  --background: #151924;
  --foreground: #fcf0d7;
  --accent: #987fdb;
  --muted: #343f60;
  --border: #0bac13;
}

@theme inline {
  --font-google-sans-code: Georgia, serif;
  --font-app: var(--font-google-sans-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
@layer components {
  /* LIGHT mode: white inner shading by default */
  html[data-theme="light"] .card-shade {
    background-image: linear-gradient(180deg, #f3e8d0, #fcf0d7 50%);
  }

  /* LIGHT mode hover: slightly reduce the white shading */
  html[data-theme="light"] .card-shade:hover {
    background-image:
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.14),
        rgba(255, 255, 255, 0) 55%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.06),
        rgba(255, 255, 255, 0) 65%
      );
  }

  /* DARK mode: black inner shading by default */
  html[data-theme="dark"] .card-shade {
    background-image:
      linear-gradient(180deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0) 100%);
  }

  /* DARK mode hover: reduce black shading */
  html[data-theme="dark"] .card-shade:hover {
    background-image:
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.06),
        rgba(255, 255, 255, 0) 45%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0) 60%);
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
